<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Hello, ' + ${name} + '!'"></title>
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Kebably</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container">
    <h2 class="hello-title" th:text="'Hello, ' + ${name} + '!'"></h2>

    <form action="#" th:action="@{/}" th:object="${order}" method="post">
        <!--TODO: radio buttons as images http://jsfiddle.net/La8wQ/313/ -->
        <!--TODO: implement form steps https://www.w3schools.com/howto/howto_js_form_steps.asp -->

            <div class="row">
                <div class="col">
                    <label>
                        <select id="inputState" class="form-control" th:field>
                            <option selected>Kebab</option>
                            <option>Burger</option>
                        </select>
                        Choose
                    </label>
                </div>
            </div>
        <div class="row">
            <div class="col">
                <div class="radio">
                    <label>
                        <input class="form-check-input" type="radio" name="sizeSelect" id="sizeS" value="S" checked>
                        Small
                        </label>
                </div>
            </div>
            <div class="col">
                <div class="radio">
                    <label>
                        <input class="form-check-input" type="radio" name="sizeSelect" id="sizeM" value="M">
                        Medium
                        </label>
                </div>
            </div>
            <div class="col">
                <div class="radio">
                    <label>
                        <input class="form-check-input" type="radio" name="sizeSelect" id="sizeL" value="L">
                        Large
                        </label>
                </div>
            </div>
            </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    <div class="row">
        <img th:src="@{/resorces/img/qr.png}"/>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
</body>
</html>

<!--TODO: implement thymeleaf fragments-->
<!-- bootstrap element docs: https://fezvrasta.github.io/bootstrap-material-design/docs/4.0/getting-started/introduction/ -->